@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-circle {
  transform-origin: center;
  animation: spin 1s linear infinite;
  opacity: 0.6;
  border: 1px solid red;
}

.spinner-box {
  display: grid;
  place-items: center;
  gap: 0.5rem;
}
